@*
    Index Empleado
*@

@{
    ViewData["Title"] = "Empleado";
}

@model List<Tblempleado>


<div class="container">
    <h2>ADMINISTRACION EMPLEADOS</h2>
        <hr>
    <div div="well"><a class="btn btn-sucess" asp-action="Nuevo">NUEVO</a></div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>DOCUMENTO</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>EMAIL</th>
                <th>ACCIONES</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StrNombre</td>
                    <td>@item.NumDocumento</td>
                    <td>@item.StrDireccion</td>
                    <td>@item.StrTelefono</td>
                    <td>@item.StrEmail</td>
                    <td><a href="~/TBLempleado/Editar/@item.IdEmpleado" class="btn btn-info">EDITAR</a> <a href="~/TBLempleado/Borrar/@item.IdEmpleado" class="btn btn-danger">BORRAR</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>



